.margens{
    margin: 10% 5%;
}

.direita{
    left: 0;
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #000000;
    border-color: #000000 transparent #ff0817 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.span-criacao{
    margin-top: 5%;
    margin-bottom: 2%;
}
.novo-comentario{
    margin-bottom: 1%;
}